
<div class="painel-apresentacao">
    <div class="card-tema">
        <div>
            <h2> O que você vai encontrar lá </h2>
        </div>
    </div>
    <div class="artigo">
        <article>
            <br><br>
            <h2> Atrações </h2>

            <p> Evento marcado com os Guardiões da Galáxia nesta sexta, dia 25/09/2020 !!!!</p>
            <p> Toda a equipe confirmada.</p><br><br>

            <p> No sábado seguinte, dia 26/09/2020, é a vez da Liga da Justiça</p>
            <p> Não percam esta programação incrível !!!!!!</p><br><br><br>

            <h2> HORÁRIO DE FUNCIONAMENTO </h2>

            <p> TERÇA-FEIRA A QUINTA-FEIRA</p>
            <p> das 16hs às 00:00hs </p><br><br>
            <p> SEXTA-FEIRA A SÁBADO </p>
            <p> das 16hs às 02:00hs </p><br>

            <p>Te esperamos lá!</p><br><br>
        </article>
    </div>
</div>
