<div class="painel-apresentacao">
    <div class="card-tema">
        <div>
            <h2> Lupus Pub</h2>
        </div>
    </div>
    <div class="artigo">
        <article>
            <br><br>
            
            <p>Sua opinião é muito importante para que possamos melhor atendê-lo(a)!</p><br><br>

            <p>Fale com a gente sobre suas sugestões ou reclamações: </p>
        </article>

        <div>
            <br>
            <form [formGroup]="formulario">
                <label><b> Nome:   </b></label><br>
                <input placeholder="Digite aqui seu nome" ><br><br><br>

                <label><b> e-mail:   </b></label><br>
                <input placeholder="Digite aqui seu melhor e-mail"><br><br><br>

                <label><b> Sugestão/Reclamação:   </b></label><br>
                <textarea placeholder="O que tem pra nos contar?" minlength="1000"></textarea><br><br><br>
                <button id="btn-enviar"> Enviar </button><br><br>
                <button id="btn-cancelar"> Cancelar </button><br><br>
            </form>
        </div>
        <br><br><br>
    </div>
</div>
