<div class="painel-apresentacao">
    <div class="card-tema">
        <div>
            <h2> Lupus Pub</h2>
        </div>
    </div>
    <div class="artigo">
        <article>
            <br><br>
            <p>Pensado de início para ter um ambiente com uma cara que se aproxima dos tradicionais Pub's da Grã-Bretanha, 
a Lupus Pub Bar dedica-se a oferecer o melhor atendimento personalizado da cidade.</p><br><br>

            <p>Venha se reunir com seus amigos para bater aquele velho papo. Ou, quem sabe, trazer sua família para
confraternizar.</p><br><br>

            <p>Eventualmente oferecemos algumas programações peculiares a um Pub, como diversidades musicais e de 
comidas típicas.</p><br><br><br>

            <p>Venha conferir nossa casa!</p><br><br>


        </article>
    </div>
</div>
